In [1]:
import torch
import pandas as pd 
df = pd.read_csv("unique_subject_with_prediction.csv", index=False)
df.head(10)

,Unnamed: 0,Subject ID,Image ID,Image Path,Image Target,CN,AD,label,ground_truth
0,0,002_S_0295,I13722,/mnt/data_lab513/vqtran_data/data/data_train_d...,CN,0.476844,0.523156,AD,CN
1,1,002_S_0413,I14437,/mnt/data_lab513/vqtran_data/data/data_train_d...,CN,0.597386,0.402614,CN,CN
2,2,002_S_0559,I15948,/mnt/data_lab513/vqtran_data/data/data_train_d...,CN,0.625345,0.374655,CN,CN
3,3,002_S_0619,I16392,/mnt/data_lab513/vqtran_data/data/data_train_d...,AD,0.250954,0.749046,AD,AD
4,4,002_S_0685,I18211,/mnt/data_lab513/vqtran_data/data/data_train_d...,CN,0.548937,0.451063,CN,CN
5,5,005_S_0814,I23573,/mnt/data_lab513/vqtran_data/data/data_train_d...,AD,0.045513,0.954487,AD,AD
6,6,005_S_0929,I25645,/mnt/data_lab513/vqtran_data/data/data_train_d...,AD,0.231260,0.768740,AD,AD
7,7,005_S_1341,I43188,/mnt/data_lab513/vqtran_data/data/data_train_d...,AD,0.544090,0.455910,CN,AD
8,8,006_S_0484,I17377,/mnt/data_lab513/vqtran_data/data/data_train_d...,CN,0.639772,0.360228,CN,CN
9,9,006_S_0498,I17505,/mnt/data_lab513/vqtran_data/data/data_train_d...,CN,0.681960,0.318040,CN,CN

In [2]:
df["label"].unique()

array(['AD', 'CN'], dtype=object)

In [3]:

torch.mean(torch.Tensor(df["CN"].to_list()))

tensor(0.4481)

In [4]:
torch.mean(torch.Tensor(df["AD"].to_list()))

tensor(0.5519)

In [5]:
accuracy_series = df["label"] == df["ground_truth"]
accuracy_series.value_counts()

True     481
False    146
dtype: int64

In [6]:
481/(481+146)

0.7671451355661882